@use '../util/' as u;

.header {
    background-color: var(--neutral-vpcyan);
    background-image: url(/src/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    &__flex {
        display: flex;
        margin-bottom: 3rem;


        &--logo {
            transform: scale(0.5);
            justify-content: flex-start;
            position: relative;
            left: u.rem(-50);
        }

        &--btn {
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 0.9rem;
            font-family: u.$body-cta-font;
            font-weight: u.$fw-700;
        }
    }

    @include u.breakpoint(medium) {
        &__deskwrapper {
            display: flex;
            gap: 1rem;
        }
    }

    &__wrapper {
        width: min(100% - 40px, 1000px);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        &--h1 {
            font-size: 1.6rem;
            margin-bottom: 1rem;

            @include u.breakpoint(medium) {
                text-align: left;
            }
        }

        &--p {
            margin-bottom: 1rem;

            @include u.breakpoint(medium) {
                text-align: left;
            }
        }

        &--btnfree {
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            width: 70%;
            background-color: var(--primary-pink);
            color: hsl(0, 0%, 100%);
            margin: 1rem auto;
            font-family: u.$body-cta-font;
            font-weight: u.$fw-700;

            @include u.breakpoint(medium) {
                margin-left: 0;
            }
        }
    }


}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    width: min(100% - 40px, 1000px);
    margin: 2rem auto;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.3rem hsl(0, 0%, 90%);

    @include u.breakpoint(medium) {
        &__desk {
            display: flex;
            flex-direction: row-reverse;
            gap: 2rem;
            align-items: center;
            padding: 1rem;
        }

        &__deskone {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            padding: 1rem;
        }

        &__desktwo {
            display: flex;
            flex-direction: row-reverse;
            gap: 2rem;
            align-items: center;
            padding: 1rem;
        }
        
    }

    &__heading {
        font-family: u.$heading-font;
        font-weight: u.$fw-600;
        text-align: center;
        font-size: larger;

        @include u.breakpoint(medium) {
            text-align: left;
        }
    }

    &__para {
        font-family: u.$body-cta-font;
        font-weight: u.$fw-400;
        color: var(--neutral-gblue);
        text-align: center;
        font-size: small;

        @include u.breakpoint(medium) {
            text-align: left;
        }
    }
}

.community {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 5rem;
    box-shadow: 0 0 0.5rem -0.1rem hsl(0, 0%, 90%), 0 0 0.5rem -0.1rem hsl(0, 0%, 80%);

    @include u.breakpoint(medium) {
        width: 70%;
    }

    &__heading {
        font-family: u.$heading-font;
        font-weight: u.$fw-600;
        font-size: medium;

        @include u.breakpoint(medium) {
            font-size: larger;
        }
    }

    &__btnfree {
        border: none;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        width: 70%;
        align-self: center;
        background-color: var(--primary-pink);
        color: hsl(0, 0%, 100%);
        margin-bottom: 1rem;
        font-family: u.$body-cta-font;
        font-weight: u.$fw-700;

        @include u.breakpoint(medium) {
            width: 50%;
        }
    }
}

.footie {
    position: absolute;
    background-color: hsl(192, 100%, 9%);
    color: white;
    text-align: left;
    padding-top: 6rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    z-index: -1;

    @include u.breakpoint(medium) {
        position: relative;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &--logo {
            transform: scale(0.6);
            position: relative;
            left: -4.3rem;
        }

        .location {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 2rem;

            .location-para {
                text-align: left;
                position: relative;
                top: u.rem(-7);
            }
        }

        .phone {
            display: flex;
            gap: 1rem;

            .phone-img {
                transform: scale(0.7);
            }
        }

        .email {
            display: flex;
            gap: 1rem;

            .email-img {
                transform: scale(0.7);
            }
        }

        &--links {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        i {
            font-size: 1rem;
            width: u.rem(29);
            height: u.rem(29);
            padding:0.325rem;
            border: 1px solid hsl(0, 0%, 100%);
            border-radius: 50%;
        }
    }
    
}

.icon,
.icon-text {
    fill: white;
}